# LOAD THE DATASET FROM THE GIVEN BELOW LINK.

https://drive.google.com/file/d/1RWvyhf9AcDZsSB5xVVgzsbHI1m4sFBJf/view?usp=share_link

In [1]:
import pandas as pd

In [34]:
df=pd.read_csv(r"C:\Users\ahire\Downloads\chipotle.tsv",sep='\t',index_col=0,header=0)
df['item_price']=df['item_price'].str[1:].astype(float)
df['price per item']=df['item_price']/df['quantity']
df

,quantity,item_name,choice_description,item_price,price per item
order_id,,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,Izze,[Clementine],3.39,3.39
1,1,Nantucket Nectar,[Apple],3.39,3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

# USING PANDAS FUNCTION CALCULATE HOW MANY PRODUCTS COSTS MORE THAN $10?

In [54]:
cost_10=df[df['price per item']>10].count().max()
print('There are ', cost_10,' products costs more than $10')

There are  1034  products costs more than $10

# What is the price of each item?

In [77]:
x=df.loc[1:,['item_name','price per item']]
x.drop_duplicates(subset='item_name',keep='first')

                                      item_name  price per item
order_id
1                  Chips and Fresh Tomato Salsa            2.39
1                                          Izze            3.39
1                              Nantucket Nectar            3.39
1         Chips and Tomatillo-Green Chili Salsa            2.39
2                                  Chicken Bowl            8.49
3                                 Side of Chips            1.69
4                                 Steak Burrito           11.75
4                              Steak Soft Tacos            9.25
5                           Chips and Guacamole            4.45
6                          Chicken Crispy Tacos            8.75
6                            Chicken Soft Tacos            8.75
8                               Chicken Burrito            8.49
9                                   Canned Soda            1.09
11                             Barbacoa Burrito            8.99
14                             Carnitas Burrito            8.99
17                                Carnitas Bowl            8.99
17                                Bottled Water            1.09
18        Chips and Tomatillo Green Chili Salsa            2.95
19                                Barbacoa Bowl           11.75
19                                        Chips            2.15
20                           Chicken Salad Bowl            8.75
25                                   Steak Bowl            8.99
26                          Barbacoa Soft Tacos            9.25
26                               Veggie Burrito           11.25
28                                  Veggie Bowl           11.25
40                           Steak Crispy Tacos            9.25
49          Chips and Tomatillo Red Chili Salsa            2.95
75                        Barbacoa Crispy Tacos           11.75
83                            Veggie Salad Bowl           11.25
85           Chips and Roasted Chili-Corn Salsa            2.39
102          Chips and Roasted Chili Corn Salsa            2.95
103                         Carnitas Soft Tacos            9.25
109                               Chicken Salad           10.98
114                           Canned Soft Drink            1.25
123                            Steak Salad Bowl           11.89
129                           6 Pack Soft Drink            6.49
130         Chips and Tomatillo-Red Chili Salsa            2.39
193                                        Bowl            7.40
214                                     Burrito            7.40
217                                Crispy Tacos            7.40
230                       Carnitas Crispy Tacos            9.25
276                                 Steak Salad            8.99
279           Chips and Mild Fresh Tomato Salsa            3.00
304                           Veggie Soft Tacos           11.25
468                         Carnitas Salad Bowl           11.89
501                         Barbacoa Salad Bowl           11.89
575                                       Salad            7.40
668                         Veggie Crispy Tacos            8.49
686                                Veggie Salad            8.49
1500                             Carnitas Salad            8.99

# Which is the Most Expensive Item?

In [19]:
df.nlargest(1,columns=['item_price'],keep='first')

,quantity,item_name,choice_description,item_price
order_id,,,,
1443,15,Chips and Fresh Tomato Salsa,NaN,44.25